<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Centralized Bar Operations</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">BarOps</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--li class="hidden">
                        <a href="#page-top"></a>
                    </li-->
                    <li>
                        <a class="page-scroll" href="#organization">Organization</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#executive-committee">Executive Committee</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#members">Members</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">San Beda College of Law</div>
                <div class="intro-heading">Centralized Bar Operations</div>
            </div>
        </div>
    </header>

    <!-- Organization Section -->
    <section id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 text-center">
                    <h2 class="section-heading">Organization</h2>
                    <h3 class="section-subheading text-muted">The San Beda College of Law Bar Operations is an organization composed of student volunteers charged with the task of providing academic and logistical support to the bar candidates for the upcoming bar examinations. The organization has played a significant role in the unparalleled bar exam results that this institution maintains in the past years.</h3>
                </div>
            </div>
        </div>
    </section>

    {{ content }}

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <ul class="contact-info">
                    <li><a href="https://facebook.ccom/sanbedabarops" target="_blank"><i class="fa fa-facebook"></i> facebook.com/sanbedabarops</a></li>
                    <li><i class="fa fa-envelope"></i> barops.sabedalaw@gmail.com</li>
                    <li><i class="fa fa-home"></i> 638 Mendiola Street, San Miguel, Manila, Metro Manila</li>
                    <li><i class="fa fa-clock-o"></i> Office Hours: Monday-Friday 11am-5pm/Saturday 11am-3pm</li>
                    <li><i class="fa fa-phone"></i> 7356011 loc 4960</li>
                  </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; San Beda Centralized BarOps 2018</span>
                </div>
                <div class="col-md-8">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://sanbeda.edu.ph" target="_blank">San Beda College</a></li>
                        <li><a href="http://mateo.sanbeda.edu.ph" target="_blank">Student Access Module</a></li>
                        <li><a href="http://sc.judiciary.gov.ph" target="_blank">Supreme Court of the Philippines</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/agency.js"></script>
    <script src="/static/js/static.js"></script>

</body>

</html>
